.search-box {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 400px;
    width: 180px;
    height: 36px;
    padding: 10px;
    gap: 8px;
    background: #FFFFFF;
    border: 1px solid #C0C4CC;
    border-radius: 2px;
}

.search-input {
    display: flex;
    align-items: center;
    text-align: center;
    width: 104px;
    height: 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.01em;
    color: #898E9A;
    flex: none;
    order: 1;
    flex-grow: 0;
    border: none;
    padding: 0;
    padding-bottom: 5px;
}
